<script>
    document.addEventListener('alpine:init', () => {
        Alpine.data('talk_', () => ({

            event_id: null,
            talk_id: null,
            event_date: null,

            setup(event_id, talk_id, event_date) {
                this.event_id = event_id;
                this.talk_id = talk_id;
                this.event_date = event_date;
                this.fetch_speakers();
                this.fetch_resources();
            },

            {# SPEAKERS #}

            speakers_get_url: '/fetch/talk/speakers',
            speakers_create_url: '/fetch/talk/speakers/create',
            speakers_update_url: '/fetch/talk/speakers/update',
            speakers_delete_url: '/fetch/talk/speakers/delete',

            create_speaker_dialog: document.getElementById('dialog-create-speaker'),
            update_speaker_dialog: document.getElementById('dialog-update-speaker'),
            delete_speaker_dialog: document.getElementById('dialog-delete-speaker'),

            create_talk_speaker_name: null,
            create_talk_speaker_bio: null,
            create_talk_speaker_extra_field_one_label: null,
            create_talk_speaker_extra_field_one_value: null,
            create_talk_speaker_extra_field_two_label: null,
            create_talk_speaker_extra_field_two_value: null,
            create_talk_speaker_extra_field_three_label: null,
            create_talk_speaker_extra_field_three_value: null,

            update_talk_speaker_id: null,
            update_talk_speaker_name: null,
            update_talk_speaker_bio: null,
            update_talk_speaker_extra_field_one_label: null,
            update_talk_speaker_extra_field_one_value: null,
            update_talk_speaker_extra_field_two_label: null,
            update_talk_speaker_extra_field_two_value: null,
            update_talk_speaker_extra_field_three_label: null,
            update_talk_speaker_extra_field_three_value: null,

            delete_talk_speaker_id: null,
            delete_talk_speaker_name: null,

            speakers: [],

            set_speaker_update(
                talk_speaker_id,
                name,
                bio,
                extra_field_one_label,
                extra_field_one_value,
                extra_field_two_label,
                extra_field_two_value,
                extra_field_three_label,
                extra_field_three_value,
            ) {
                this.update_talk_speaker_id = talk_speaker_id;
                this.update_talk_speaker_name = name;
                this.update_talk_speaker_bio = bio;
                this.update_talk_speaker_extra_field_one_label = extra_field_one_label;
                this.update_talk_speaker_extra_field_one_value = extra_field_one_value;
                this.update_talk_speaker_extra_field_two_label = extra_field_two_label;
                this.update_talk_speaker_extra_field_two_value = extra_field_two_value;
                this.update_talk_speaker_extra_field_three_label = extra_field_three_label;
                this.update_talk_speaker_extra_field_three_value = extra_field_three_value;
                this.update_speaker_dialog.showModal();
            },

            set_speaker_delete(talk_speaker_id, name) {
                this.delete_talk_speaker_id = talk_speaker_id;
                this.delete_talk_speaker_name = name;
                this.delete_speaker_dialog.showModal();
            },

            fetch_speakers() {
                fetch(
                    this.speakers_get_url,
                    {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            event_id: this.event_id,
                            talk_id: this.talk_id
                        })
                    }
                ).then(
                    response => response.json()
                ).then(jsond => {
                    this.speakers = jsond.talk_speakers;
                })
            },

            create_speaker() {
                fetch(
                    this.speakers_create_url,
                    {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            event_id: this.event_id,
                            talk_id: this.talk_id,
                            name: this.create_talk_speaker_name,
                            bio: this.create_talk_speaker_bio,
                            extra_field_one_label: this.create_talk_speaker_extra_field_one_label,
                            extra_field_one_value: this.create_talk_speaker_extra_field_one_value,
                            extra_field_two_label: this.create_talk_speaker_extra_field_two_label,
                            extra_field_two_value: this.create_talk_speaker_extra_field_two_value,
                            extra_field_three_label: this.create_talk_speaker_extra_field_three_label,
                            extra_field_three_value: this.create_talk_speaker_extra_field_three_value,
                        })
                    }
                ).then(
                    response => response.json()
                ).then(_ => {
                    this.fetch_speakers();
                    this.create_talk_speaker_name = null;
                    this.create_talk_speaker_bio = null;
                    this.create_talk_speaker_extra_field_one_label = null;
                    this.create_talk_speaker_extra_field_one_value = null;
                    this.create_talk_speaker_extra_field_two_label = null;
                    this.create_talk_speaker_extra_field_two_value = null;
                    this.create_talk_speaker_extra_field_three_label = null;
                    this.create_talk_speaker_extra_field_three_value = null;
                    this.create_speaker_dialog.close();
                })
            },

            update_speaker() {
                fetch(
                    this.speakers_update_url,
                    {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            talk_speaker_id: this.update_talk_speaker_id,
                            name: this.update_talk_speaker_name,
                            bio: this.update_talk_speaker_bio,
                            extra_field_one_label: this.update_talk_speaker_extra_field_one_label,
                            extra_field_one_value: this.update_talk_speaker_extra_field_one_value,
                            extra_field_two_label: this.update_talk_speaker_extra_field_two_label,
                            extra_field_two_value: this.update_talk_speaker_extra_field_two_value,
                            extra_field_three_label: this.update_talk_speaker_extra_field_three_label,
                            extra_field_three_value: this.update_talk_speaker_extra_field_three_value,
                        })
                    }
                ).then(
                    response => response.json()
                ).then(_ => {
                    this.fetch_speakers();
                    this.update_talk_speaker_id = null;
                    this.update_talk_speaker_name = null;
                    this.update_talk_speaker_bio = null;
                    this.update_talk_speaker_extra_field_one_label = null;
                    this.update_talk_speaker_extra_field_one_value = null;
                    this.update_talk_speaker_extra_field_two_label = null;
                    this.update_talk_speaker_extra_field_two_value = null;
                    this.update_talk_speaker_extra_field_three_label = null;
                    this.update_talk_speaker_extra_field_three_value = null;
                    this.update_speaker_dialog.close();
                })
            },

            delete_speaker() {
                fetch(
                    this.speakers_delete_url,
                    {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            talk_speaker_id: this.delete_talk_speaker_id,
                        })
                    }
                )
                    .then(
                        response => response.json()
                    )
                    .then(_ => {
                        this.fetch_speakers();
                        this.delete_talk_speaker_id = null;
                        this.delete_speaker_dialog.close();
                    })
            },

            {# RESOURCES #}

            resources_get_url: '/fetch/talk/resources',
            resources_create_url: '/fetch/talk/resources/create',
            resources_update_url: '/fetch/talk/resources/update',
            resources_delete_url: '/fetch/talk/resources/delete',

            create_resource_dialog: document.getElementById('dialog-create-resource'),
            update_resource_dialog: document.getElementById('dialog-update-resource'),
            delete_resource_dialog: document.getElementById('dialog-delete-resource'),

            default_resource_type: 'url',

            create_resource_type: this.default_resource_type,
            create_resource_source: null,

            update_resource_type: this.default_resource_type,
            update_resource_source: null,
            update_talk_resource_id: null,

            delete_talk_resource_id: null,
            delete_talk_resource_source: null,

            resources: [],

            set_resource_update(talk_resource_id, type, source) {
                this.update_talk_resource_id = talk_resource_id;
                this.update_resource_type = type;
                this.update_resource_source = source;
                this.update_resource_dialog.showModal();
            },

            set_resource_delete(talk_resource_id, source) {
                this.delete_talk_resource_id = talk_resource_id;
                this.delete_talk_resource_source = source;
                this.delete_resource_dialog.showModal();
            },

            fetch_resources() {
                fetch(
                    this.resources_get_url,
                    {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            event_id: this.event_id,
                            talk_id: this.talk_id
                        })
                    }
                ).then(
                    response => response.json()
                ).then(jsond => {
                    this.resources = jsond.talk_resources;
                })
            },

            create_resource() {
                fetch(
                    this.resources_create_url,
                    {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            event_id: this.event_id,
                            talk_id: this.talk_id,
                            event_date: this.event_date,
                            type: this.create_resource_type,
                            source: this.create_resource_source
                        })
                    }
                ).then(
                    response => response.json()
                ).then(_ => {
                    this.fetch_resources();
                    this.create_resource_type = this.default_resource_type;
                    this.create_resource_source = null;
                    this.create_resource_dialog.close();
                })
            },

            update_resource() {
                fetch(
                    this.resources_update_url,
                    {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            talk_resource_id: this.update_talk_resource_id,
                            type: this.update_resource_type,
                            source: this.update_resource_source
                        })
                    }
                ).then(
                    response => response.json()
                ).then(_ => {
                    this.fetch_resources();
                    this.update_talk_resource_id = null;
                    this.update_resource_type = this.default_resource_type;
                    this.update_resource_source = null;
                    this.update_resource_dialog.close();
                })
            },

            delete_resource() {
                fetch(
                    this.resources_delete_url,
                    {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            talk_resource_id: this.delete_talk_resource_id,
                        })
                    }
                )
                    .then(
                        response => response.json()
                    )
                    .then(_ => {
                        this.fetch_resources();
                        this.delete_talk_resource_id = null;
                        this.delete_talk_resource_source = null;
                        this.delete_resource_dialog.close();
                    })
            }

        }));
    });
</script>