<!DOCTYPE html>
<html lang="en">
<head>

    <title>🎙️{{ talk.title }}</title>

    {% include 'includes/head.html' %}

    {% include 'includes/xdata-talk.html' %}

</head>
<body>
<header>
    <div class="top-link">
        <a href="{{ url_for('event', event_id=event.event_id) }}"><- back</a> /
        {{ event.title }} /
        {{ talk.title }}
    </div>
    <h1>Talk</h1>
</header>
<main x-data="talk_" x-init="setup('{{ event.event_id }}', '{{ talk.talk_id }}')">

    <form action="{{ url_for('talk_update', event_id=event.event_id, talk_id=talk.talk_id) }}"
          method="post"
          class="form">
        <label for="title">Title</label>
        <input id="title" type="text" name="title" value="{{ talk.title }}">

        <label for="description">Description</label>
        <textarea id="description" name="description">{{ talk.description }}</textarea>

        <button type="submit">Update</button>
    </form>

    {#

SPEAKERS SPEAKERS SPEAKERS SPEAKERS SPEAKERS SPEAKERS SPEAKERS

#}

    <h2>Speakers</h2>

    <div class="top-link">
        <a class="a-button" @click="create_speaker_dialog.showModal()">Create Speaker</a>
    </div>

    <div x-show="speakers.length > 0" x-cloak>
        <div class="person-list">
            <template x-for="speaker in speakers">
                <div class="person">

                    <h3 x-text="speaker.name"></h3>

                    <p x-show="speaker.bio" x-text="speaker.bio"></p>

                    <div class="person-label-list">

                        <div class="person-label" x-show="speaker.extra_field_one_label">
                            <p><span x-text="speaker.extra_field_one_label"></span>:</p>

                            <a x-bind:href="speaker.extra_field_one_value"
                               x-text="speaker.extra_field_one_value"
                               x-show="speaker.extra_field_one_value && speaker.extra_field_one_value.includes('http')"
                               target="_blank"></a>

                            <p x-text="speaker.extra_field_one_value"
                               x-show="speaker.extra_field_one_value && !speaker.extra_field_one_value.includes('http')"></p>
                        </div>

                        <div class="person-label" x-show="speaker.extra_field_two_label">
                            <p><span x-text="speaker.extra_field_two_label"></span>:</p>

                            <a x-bind:href="speaker.extra_field_two_value"
                               x-text="speaker.extra_field_two_value"
                               x-show="speaker.extra_field_two_value && speaker.extra_field_two_value.includes('http')"
                               target="_blank"></a>

                            <p x-text="speaker.extra_field_two_value"
                               x-show="speaker.extra_field_two_value && !speaker.extra_field_two_value.includes('http')"></p>
                        </div>

                        <div class="person-label" x-show="speaker.extra_field_three_label">
                            <p><span x-text="speaker.extra_field_three_label"></span>:</p>

                            <a x-bind:href="speaker.extra_field_three_value"
                               x-text="speaker.extra_field_three_value"
                               x-show="speaker.extra_field_three_value && speaker.extra_field_three_value.includes('http')"
                               target="_blank"></a>

                            <p x-text="speaker.extra_field_three_value"
                               x-show="speaker.extra_field_three_value && !speaker.extra_field_three_value.includes('http')"></p>
                        </div>

                    </div>

                    <div>
                        <button @click="set_speaker_update(
                    speaker.talk_speaker_id,
                    speaker.name,
                    speaker.bio,
                    speaker.extra_field_one_label,
                    speaker.extra_field_one_value,
                    speaker.extra_field_two_label,
                    speaker.extra_field_two_value,
                    speaker.extra_field_three_label,
                    speaker.extra_field_three_value,
                    )">Update
                        </button>
                        <button @click="set_speaker_delete(
                    speaker.talk_speaker_id,
                    speaker.name,
                    )">Delete
                        </button>
                    </div>
                </div>
            </template>
        </div>
    </div>

    <div class="box" x-show="speakers.length === 0" x-cloak>
        <p>No Speakers</p>
    </div>

    <dialog id="dialog-create-speaker">
        <form @submit.prevent
              class="form"
              style="min-width: 500px;">

            <h3>Create Speaker</h3>

            <label for="person-name">Name</label>
            <input id="person-name" type="text" name="name" x-model="create_talk_speaker_name">

            <label for="person-bio">Bio</label>
            <textarea id="person-bio" name="bio" x-model="create_talk_speaker_bio"></textarea>

            <div class="field-box">
                <label for="person-extra-field-one-label">Extra Field Label</label>
                <input id="person-extra-field-one-label" type="text"
                       name="extra_field_one_label" x-model="create_talk_speaker_extra_field_one_label">
                <label for="person-extra-field-one-value">Extra Field Value</label>
                <input id="person-extra-field-one-value" type="text"
                       name="extra_field_one_value" x-model="create_talk_speaker_extra_field_one_value">
            </div>
            <div class="field-box">
                <label for="person-extra-field-two-label">Extra Field Label</label>
                <input id="person-extra-field-two-label" type="text"
                       name="extra_field_two_label" x-model="create_talk_speaker_extra_field_two_label">
                <label for="person-extra-field-two-value">Extra Field Value</label>
                <input id="person-extra-field-two-value" type="text"
                       name="extra_field_two_value" x-model="create_talk_speaker_extra_field_two_value">
            </div>
            <div class="field-box">
                <label for="person-extra-field-three-label">Extra Field Label</label>
                <input id="person-extra-field-three-label" type="text"
                       name="extra_field_three_label" x-model="create_talk_speaker_extra_field_three_label">
                <label for="person-extra-field-three-value">Extra Field Value</label>
                <input id="person-extra-field-three-value" type="text"
                       name="extra_field_three_value" x-model="create_talk_speaker_extra_field_three_value">
            </div>
            <button type="button" @click="create_speaker()">Create</button>
            <button type="button" @click="create_speaker_dialog.close()">Cancel</button>
        </form>
    </dialog>

    <dialog id="dialog-update-speaker">
        <form @submit.prevent
              class="form"
              style="min-width: 500px;">

            <h3>Update Speaker</h3>

            <label for="person-name">Name</label>
            <input id="person-name" type="text" name="name" x-model="update_talk_speaker_name">

            <label for="person-bio">Bio</label>
            <textarea id="person-bio" name="bio" x-model="update_talk_speaker_bio"></textarea>

            <div class="field-box">
                <label for="person-extra-field-one-label">Extra Field Label</label>
                <input id="person-extra-field-one-label" type="text"
                       name="extra_field_one_label" x-model="update_talk_speaker_extra_field_one_label">
                <label for="person-extra-field-one-value">Extra Field Value</label>
                <input id="person-extra-field-one-value" type="text"
                       name="extra_field_one_value" x-model="update_talk_speaker_extra_field_one_value">
            </div>

            <div class="field-box">
                <label for="person-extra-field-two-label">Extra Field Label</label>
                <input id="person-extra-field-two-label" type="text"
                       name="extra_field_two_label" x-model="update_talk_speaker_extra_field_two_label">
                <label for="person-extra-field-two-value">Extra Field Value</label>
                <input id="person-extra-field-two-value" type="text"
                       name="extra_field_two_value" x-model="update_talk_speaker_extra_field_two_value">
            </div>

            <div class="field-box">
                <label for="person-extra-field-three-label">Extra Field Label</label>
                <input id="person-extra-field-three-label" type="text"
                       name="extra_field_three_label" x-model="update_talk_speaker_extra_field_three_label">
                <label for="person-extra-field-three-value">Extra Field Value</label>
                <input id="person-extra-field-three-value" type="text"
                       name="extra_field_three_value" x-model="update_talk_speaker_extra_field_three_value">
            </div>

            <button type="submit" @click="update_speaker()">Update</button>
            <button type="button" @click="update_speaker_dialog.close()">Cancel</button>
        </form>
    </dialog>

    <dialog id="dialog-delete-speaker">
        <div style="display: flex; flex-direction: column; gap: .50rem;">
            <h3>Delete Speaker</h3>

            <p style="margin: 0">Are you sure you want to delete this speaker?</p>

            <p x-text="delete_talk_speaker_name" style="padding: 1rem"></p>

            <button type="submit" @click="delete_speaker()">Delete</button>
            <button type="button" @click="delete_speaker_dialog.close()">Cancel</button>
        </div>
    </dialog>

    {#

RESOURCES RESOURCES RESOURCES RESOURCES RESOURCES RESOURCES RESOURCES

#}

    <h2>Resources</h2>

    <div class="top-link">
        <a class="a-button" @click="create_resource_dialog.showModal()">Create Resource</a>
    </div>

    <table x-show="resources.length > 0" x-cloak>
        <thead>
        <tr>
            <th>Type</th>
            <th>Source</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <template x-for="resource in resources">
            <tr>
                <td x-text="resource.type"></td>
                <td x-text="resource.source"></td>
                <td>
                    <a @click="set_resource_update(
                    resource.talk_resource_id,
                    resource.type,
                    resource.source
                    )">Update</a>
                    |
                    <a @click="set_resource_delete(
                    resource.talk_resource_id,
                    resource.source,
                    )">Delete</a>
                </td>
            </tr>
        </template>
        </tbody>
    </table>

    <div class="box" x-show="resources.length === 0" x-cloak>
        <p>No Resources</p>
    </div>

    <dialog id="dialog-create-resource">
        <form @submit.prevent
              class="form"
              style="min-width: 500px;">

            <h3>Create Resource</h3>

            <label for="resource-type">Type</label>
            <select id="resource-type" name="type" x-model="create_resource_type">
                <option value="select...">Select...</option>
                <option value="url">url</option>
                <option value="file">file</option>
            </select>

            <label for="resource-source">Source</label>
            <input id="resource-source" type="text" name="source" x-model="create_resource_source">

            <button type="submit" @click="create_resource()">Create</button>
            <button type="button" @click="create_resource_dialog.close()">Cancel</button>
        </form>
    </dialog>

    <dialog id="dialog-update-resource">
        <form @submit.prevent
              class="form"
              style="min-width: 500px;">

            <h3>Update Resource</h3>

            <label for="resource-type">Type</label>
            <select id="resource-type" name="type" x-model="update_resource_type">
                <option value="select...">Select...</option>
                <option value="url">url</option>
                <option value="file">file</option>
            </select>

            <label for="resource-source">Source</label>
            <input id="resource-source" type="text" name="source" x-model="update_resource_source">

            <button type="submit" @click="update_resource()">Update</button>
            <button type="button" @click="update_resource_dialog.close()">Cancel</button>
        </form>
    </dialog>

    <dialog id="dialog-delete-resource">
        <div style="display: flex; flex-direction: column; gap: .50rem;">
            <h3>Delete Resource</h3>

            <p style="margin: 0">Are you sure you want to delete this resource?</p>

            <p x-text="delete_talk_resource_source" style="padding: 1rem"></p>

            <button type="submit" @click="delete_resource()">Delete</button>
            <button type="button" @click="delete_resource_dialog.close()">Cancel</button>
        </div>
    </dialog>

</main>
<footer>
</footer>
</body>
</html>